<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a th:href="@{/addCityForm}">Añadir</a>
    </div>
    <div th:if="${cities != null and !cities.empty}">
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Country code</th>
                <th>District</th>
                <th>Population</th>
            </tr>
            <tr th:each="city : ${cities}">
                <td th:text="${city.getID()}"></td>
                <td th:text="${city.getName()}"></td>
                <td th:text="${city.getCountryCode()}"></td> 
                <td th:text="${city.getDistrict()}"></td>
                <td th:text="${city.getPopulation()}"></td>
                <td><a th:href="@{/updateCityForm/} + ${city.getID()}" th:text="Modificar"></a></td>
                <td><a th:href="@{/deleteCity/} + ${city.getID()}" th:text="Borrar"></a></td>
            </tr>
        </table>
    </div>
    <div th:if="${cities == null or cities.empty}">
        <p>La lista esta vacía</p>
    </div>
</body>
</html>